{% load static %}
<!-- START FOOTER TOP -->
<footer class="footer-area">
	<div class="container">

		<!-- Social Media -->
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="footer_social">
					<ul>
						<li>
							<a data-toggle="tooltip" data-placement="top" title="Facebook" href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>

						<li>
							<a data-toggle="tooltip" data-placement="top" title="Instagram" href="#">
								<i class="fa fa-instagram"></i>
							</a>
						</li>

						<li>
							<a data-toggle="tooltip" data-placement="top" title="LinkedIn" href="#">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>

						<li>
							<a data-toggle="tooltip" data-placement="top" title="WhatsApp"
								href="https://wa.me/254728627678">
								<i class="fa fa-whatsapp"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Footer Content -->
		<div class="row footer-padding">

			<!-- Contact Information -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>Contact Us</h4>

					<div class="footer_contact">
						<ul>
							<li>
								<i class="fa fa-map-marker"></i>
								<span>Kiambu, Kenya</span>
							</li>

							<li>
								<i class="fa fa-phone"></i>
								<span>(+254) 728 627 678</span>
							</li>

							<li>
								<i class="fa fa-envelope"></i>
								<span>info@ardivora.com</span>
							</li>

							<li>
								<i class="fa fa-globe"></i>
								<span>www.ardivora.com</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Quick Links -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>Quick Links</h4>

					<div class="footer_contact">
						<ul>
							<li><a href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'about' %}">About Us</a></li>
							<li><a href="{% url 'property' %}">Properties</a></li>
							<li><a href="{% url 'faq' %}">FAQ</a></li>
							<li><a href="{% url 'contact' %}">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Why Choose Ardivora -->
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="single_footer">
					<h4>Why Choose Ardivora</h4>

					<div class="footer_contact">
						<ul>
							<li>Verified Property Listings</li>
							<li>Trusted Real Estate Information</li>
							<li>Easy Property Search Experience</li>
							<li>Professional Customer Support</li>
							<li>Buy, Sell & Rent with Confidence</li>
						</ul>
					</div>
				</div>
			</div>

		</div>

		<!-- Copyright -->
		<div class="row text-center">
			<div class="col-md-12 col-sm-12 col-xs-12 wow zoomIn">
				<p class="footer_copyright">
					&copy; 2026 Ardivora. All Rights Reserved.
				</p>
			</div>
		</div>

	</div>
</footer>
<!-- END FOOTER TOP -->


<!-- Latest jQuery -->
<script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- modernizer JS -->
<script src="{% static 'assets/js/modernizr-2.8.3.min.js' %}"></script>
<!-- stellar js -->
<script src="{% static 'assets/js/jquery.stellar.min.js' %}"></script>
<!-- owl-carousel min js  -->
<script src="{% static 'assets/owlcarousel/js/owl.carousel.min.js' %}"></script>
<!-- MAGNIFICANT JS -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Slick JS -->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!-- jquery mixitup min js -->
<script src="{% static 'assets/js/jquery.mixitup.js' %}"></script>
<!-- Menu js -->
<script src="{% static 'assets/js/menu.js' %}"></script>
<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
<!-- jquery.prettyPhoto js -->
<script src="{% static 'assets/js/jquery.prettyPhoto.js' %}"></script>
<!-- scrolltopcontrol js -->
<script src="{% static 'assets/js/scrolltopcontrol.js' %}"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!-- scripts js -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<!-- video scripts -->
<script src="{% static 'assets/js/jquery.mb.YTPlayer.min.js' %}"></script>

<script>
	$('.player').mb_YTPlayer();
</script>

<!-- scripts js -->