{% load static %}
<!-- START FOOTER TOP -->
	<footer class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="footer_social">
						<ul>
							<li><a data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i
										class="fa fa-facebook"></i></a>
							</li>
							<li><a data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i
										class="fa fa-instagram"></i></a>
							</li>
							<li><a data-toggle="tooltip" data-placement="top" title="Google Plus" href="#"><i
										class="fa fa-google-plus"></i></a>
							</li>
							<li><a data-toggle="tooltip" data-placement="top" title="Linkedin" href="#"><i
										class="fa fa-linkedin"></i></a>
							</li>
							<li><a data-toggle="tooltip" data-placement="top" title="Youtube" href="#"><i
										class="fa fa-youtube"></i></a>
							</li>
							<li><a data-toggle="tooltip" data-placement="top" title="Skype" href="#"><i
										class="fa fa-skype"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row footer-padding">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="single_footer">
						<h4>Contact Us</h4>
						<div class="footer_contact">
							<ul>
								<li><i class="fa fa-rocket"></i> <span>3481 Melrose Place, Beverly Hills, CA
										90210</span></li>
								<li><i class="fa fa-phone"></i> <span>Call Us - (+1) 517 397 7100</span></li>
								<li><i class="fa fa-fax"></i> <span>Fax - (+12) 123 1234</span></li>
								<li><i class="fa fa-envelope"></i> <span>info@example.com</span></li>
							</ul>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="single_footer">
						<h4>Customer service</h4>
						<div class="footer_contact">
							<ul>
								<li><a href="#">My Account</a></li>
								<li><a href="#">Order History</a></li>
								<li><a href="{% url 'faq' %}">FAQ</a></li>
								<li><a href="#">Specials</a></li>
								<li><a href="#">Help Center</a></li>
							</ul>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="single_footer">
						<h4>Helpful Link</h4>
						<div class="footer_contact">
							<ul>
								<li><a href="{% url 'about' %}">About us</a></li>
								<li><a href="#">Customer Service</a></li>
								<li><a href="#">Company</a></li>
								<li><a href="#">Investor Relations</a></li>
								<li><a href="#">Advanced Search</a></li>
							</ul>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="single_footer">
						<h4>Why choose Us</h4>
						<div class="footer_contact">
							<ul>
								<li><a href="#">Shopping Guide</a></li>
								<li><a href="{% url 'blog' %}">Blog</a></li>
								<li><a href="#">Company</a></li>
								<li><a href="#">Investor Relations</a></li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
							</ul>
						</div>
					</div>
				</div><!--- END COL -->
			</div><!--- END ROW -->
			<div class="row text-center">
				<div class="col-md-12 col-sm-12 col-xs-12 wow zoomIn">
					<p class="footer_copyright"> &copy; 2026 All Rights Reserved. </p>.
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</footer>
	<!-- END FOOTER TOP -->


	<!-- Latest jQuery -->
	<script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
	<!-- Latest compiled and minified Bootstrap -->
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- modernizer JS -->
	<script src="{% static 'assets/js/modernizr-2.8.3.min.js' %}"></script>
	<!-- stellar js -->
	<script src="{% static 'assets/js/jquery.stellar.min.js' %}"></script>
	<!-- owl-carousel min js  -->
	<script src="{% static 'assets/owlcarousel/js/owl.carousel.min.js' %}"></script>
	<!-- MAGNIFICANT JS -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- Slick JS -->
	<script src="{% static 'assets/js/slick.min.js' %}"></script>
	<!-- jquery mixitup min js -->
	<script src="{% static 'assets/js/jquery.mixitup.js' %}"></script>
	<!-- Menu js -->
	<script src="{% static 'assets/js/menu.js' %}"></script>
	<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
	<!-- jquery.prettyPhoto js -->
	<script src="{% static 'assets/js/jquery.prettyPhoto.js' %}"></script>
	<!-- scrolltopcontrol js -->
	<script src="{% static 'assets/js/scrolltopcontrol.js' %}"></script>
	<!-- WOW - Reveal Animations When You Scroll -->
	<script src="{% static 'assets/js/wow.min.js' %}"></script>
	<!-- scripts js -->
	<script src="{% static 'assets/js/scripts.js' %}"></script>
	<!-- video scripts -->
	<script src="{% static 'assets/js/jquery.mb.YTPlayer.min.js' %}"></script>

	<script>
		$('.player').mb_YTPlayer();
	</script>

	<!-- scripts js -->
	