{% extends 'base.html' %}
{% load static %}

{% block title %}
About Ardivora Estates | Trusted Real Estate Experts in Kenya
{% endblock %}

{% block meta_description %}
Learn about Ardivora Estates, a trusted Kenyan real estate company dedicated to helping clients buy, sell, rent, and invest in premium properties.
{% endblock %}

{% block meta_keywords %}
about Ardivora Estates, real estate company Kenya, property experts, property investment Kenya, trusted real estate agents
{% endblock %}

{% block og_title %}
About Ardivora Estates
{% endblock %}

{% block og_description %}
Discover our story, mission, and commitment to providing exceptional real estate services across Kenya.
{% endblock %}

{% block twitter_title %}
About Ardivora Estates
{% endblock %}

{% block twitter_description %}
Learn more about Ardivora Estates and our passion for helping clients find the perfect property in Kenya.
{% endblock %}

{% block content %}
<!-- START SECTION TOP -->
<section class="section-top">
	<div class="container">
		<div class="col-lg-10 offset-lg-1 col-xs-12 text-center">
			<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s"
				data-wow-offset="0">
				<h1>About Page</h1>
			</div><!-- //.HERO-TEXT -->
		</div><!--- END COL -->
	</div><!--- END CONTAINER -->
</section>
<!-- END SECTION TOP -->

<!-- START ABOUT US -->
<section id="about" class="about-us section-padding">
	<div class="container">
		<div class="section-title text-center wow zoomIn">
			<h2>About Us</h2>
			<div></div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-sm-12 col-xs-12">
				<div class="about-us-content">
					<h2>Your Trusted Real Estate Partner</h2>

					<p>
						We are dedicated to helping individuals, families, and
						investors find the perfect property. Whether you are
						buying, selling, renting, or investing, our platform
						provides reliable listings and professional guidance to
						make the process simple and transparent.
					</p>

					<ul>
						<li><i class="fa fa-check"></i>Verified property listings</li>
						<li><i class="fa fa-check"></i>Residential and commercial properties</li>
						<li><i class="fa fa-check"></i>Professional support and consultation</li>
						<li><i class="fa fa-check"></i>Easy property search and comparison</li>
					</ul>

					<a href="{% url 'property'  %}">Browse Properties</a>
				</div>
			</div>

			<div class="col-lg-6 col-sm-12 col-xs-12">
				<div class="about_img">
					<img src="{% static 'assets/img/2.jpg' %}" class="img-fluid" alt="About Our Agency" />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END ABOUT US  -->

<!-- START HOW IT WORKS -->
<section
    data-stellar-background-ratio="0.3"
    class="about_video"
    style="background-image: url('{% static 'assets/img/bg/video-bg.jpg' %}'); background-size: cover; background-position: center center;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12 text-center">
				<div class="our_video">
					<h1>Take a video tour</h1>
					<a class="video-play" href="https://vimeo.com/414300920"><i class="fa fa-play"></i></a>
				</div>
				<!-- END VIDEO POPUP -->
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</section>
<!-- END HOW IT WORKS -->

<!-- START TEAM US -->
	<section id="team" class="our_team section-padding">
		<div class="container">
			<div class="section-title text-center wow zoomIn">
				<h2>Professional team</h2>
				<div></div>
			</div>
			<div class="row text-center">
				<div class="col-lg-3 col-sm-3 col-xs-12">
					<div class="single_team">
						<img src="{% static 'assets/img/team/team-1.png' %}" class="img-fluid" alt="" />
						<h3>Juthi Ahmed</h3>
						<p>Co Founder</p>
						<ul class="list-inline">
							<li><a href="#" class="st-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="st-twitter"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="st-instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div><!--- END SINGLE TEAM -->
				</div><!--- END COL -->
				<div class="col-lg-3 col-sm-3 col-xs-12">
					<div class="single_team">
						<img src="{% static 'assets/img/team/team-2.png' %}" class="img-fluid" alt="" />
						<h3>Masum Billah</h3>
						<p>Co Founder</p>
						<ul class="list-inline">
							<li><a href="#" class="st-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="st-twitter"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="st-instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div><!--- END SINGLE TEAM -->
				</div><!--- END COL -->
				<div class="col-lg-3 col-sm-3 col-xs-12">
					<div class="single_team">
						<img src="{% static 'assets/img/team/team-3.png' %}" class="img-fluid" alt="" />
						<h3>Syed Ekram</h3>
						<p>Co Founder</p>
						<ul class="list-inline">
							<li><a href="#" class="st-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="st-twitter"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="st-instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div><!--- END SINGLE TEAM -->
				</div><!--- END COL -->
				<div class="col-lg-3 col-sm-3 col-xs-12">
					<div class="single_team">
						<img src="{% static 'assets/img/team/team-4.png' %}" class="img-fluid" alt="" />
						<h3>Hanjala Haque</h3>
						<p>Co Founder</p>
						<ul class="list-inline">
							<li><a href="#" class="st-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="st-twitter"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="st-instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div><!--- END SINGLE TEAM -->
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END TEAM US -->
{% endblock %}