{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- START SECTION TOP -->
<section class="section-top">
	<div class="container">
		<div class="col-lg-10 offset-lg-1 col-xs-12 text-center">
			<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s"
				data-wow-offset="0">
				<h1>Agent Profile</h1>
			</div><!-- //.HERO-TEXT -->
		</div><!--- END COL -->
	</div><!--- END CONTAINER -->
</section>
<!-- END SECTION TOP -->

<!-- START AGENT PROFILE -->
<section class="template_agent">
	<div class="container">
		<div class="section-title text-center">
			<h2>Meet Your Property Consultant</h2>
			<div></div>
		</div>

		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-sm-12">
				<div class="single_agent">

					<div class="single_agent_image">
						<img src="{% static 'assets/img/team/1.png' %}" class="img-fluid" alt="Property Consultant" />
					</div>

					<div class="single_agent_content">
						<h4>Ardivora Property Team</h4>

						<h5>Real Estate Services</h5>

						<h6>
							Ardivora connects property buyers, sellers, landlords, and tenants
							through a modern and reliable real estate platform. We are committed
							to helping clients discover quality properties and make informed
							real estate decisions with confidence.
						</h6>

						<p>
							<i class="fa fa-envelope-o"></i>
							info@ardivora.com
						</p>

						<p>
							<i class="fa fa-phone"></i>
							+254 728 627 678
						</p>

						<p>
							<i class="fa fa-globe"></i>
							www.ardivora.com
						</p>

						<p>
							<i class="fa fa-map-marker"></i>
							Kiambu, Kenya
						</p>
					</div>

					<div class="agent_social">
						<ul class="list-inline">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- END AGENT PROFILE -->
{% endblock %}