
{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- START SECTION TOP -->
	<section class="section-top">
		<div class="container">
			<div class="col-lg-10 offset-lg-1 col-xs-12 text-center">
				<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s"
					data-wow-offset="0">
					<h1>Faq Page</h1>
				</div><!-- //.HERO-TEXT -->
			</div><!--- END COL -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END SECTION TOP -->

	<!-- START FAQ -->
	<section class="template_faq">
		<div class="container">
			<div class="section-title text-center wow zoomIn">
				<h2>Frequently Asked Questions</h2>
				<div></div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft">
					<div class="faq_desc">
						<p class="question"><span>Question:</span> Faq title here</p>
						<p class="ans"><span>Ans:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis.</p>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInRight">
					<div class="faq_desc">
						<p class="question"><span>Question:</span> Faq title here</p>
						<p class="ans"><span>Ans:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis.</p>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft">
					<div class="faq_desc">
						<p class="question"><span>Question:</span> Faq title here</p>
						<p class="ans"><span>Ans:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis.</p>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInRight">
					<div class="faq_desc">
						<p class="question"><span>Question:</span> Faq title here</p>
						<p class="ans"><span>Ans:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis.</p>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInRight">
					<div class="faq_desc">
						<p class="question"><span>Question:</span> Faq title here</p>
						<p class="ans"><span>Ans:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis.</p>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInRight">
					<div class="faq_desc">
						<p class="question"><span>Question:</span> Faq title here</p>
						<p class="ans"><span>Ans:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis.</p>
					</div>
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END FAQ -->
{% endblock %}
	