
{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- START HOME -->
	<section id="home" class="home_bg"
    style="background-image: url('{% static "assets/img/bg/youtube-bg.jpg" %}');
           background-size: cover;
           background-position: center center;">
		<a class="player"
			data-property="{videoURL:'https://youtu.be/668nUCeBHyY',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 col-sm-12 col-xs-12 text-center">
					<div class="hero-text">
						<h2>Find the Perfect Property for Your Future</h2>

						<p>
							Discover premium homes, apartments, commercial spaces, and investment
							opportunities with Ardivora Estates. Whether you're buying, renting,
							or investing, we're committed to helping you find a place you'll be
							proud to call home.
						</p>
					</div>
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END  HOME -->

	<!-- START SEARCH -->
	<form method="GET" action="{% url 'property_search' %}">
    <div class="search_bar section-padding">
        <div class="container">
            <div class="row">

                <!-- Location -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_search">
                        <input type="text"
                               name="location"
                               class="form-control"
                               placeholder="Location">
                    </div>
                </div>

                <!-- Property Type -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_search">
                        <select name="property_type" class="form-control">
                            <option value="">Property Type</option>
                            <option value="House">House</option>
                            <option value="Apartment">Apartment</option>
                            <option value="Commercial">Commercial</option>
                            <option value="Land">Land</option>
                        </select>
                    </div>
                </div>

                <!-- Status -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_search">
                        <select name="status" class="form-control">
                            <option value="">Property Status</option>
                            <option value="For Sale">For Sale</option>
                            <option value="For Rent">For Rent</option>
                        </select>
                    </div>
                </div>

                <!-- Maximum Price -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_search">
                        <input type="number"
                               name="max_price"
                               class="form-control"
                               placeholder="Maximum Price">
                    </div>
                </div>

                <!-- Bedrooms -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_search">
                        <select name="bedrooms" class="form-control">
                            <option value="">Bedrooms</option>
                            <option value="1">1+</option>
                            <option value="2">2+</option>
                            <option value="3">3+</option>
                            <option value="4">4+</option>
                            <option value="5">5+</option>
                        </select>
                    </div>
                </div>

                <!-- Bathrooms -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_search">
                        <select name="bathrooms" class="form-control">
                            <option value="">Bathrooms</option>
                            <option value="1">1+</option>
                            <option value="2">2+</option>
                            <option value="3">3+</option>
                            <option value="4">4+</option>
                        </select>
                    </div>
                </div>

                <!-- Minimum Area -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_search">
                        <input type="number"
                               name="min_area"
                               class="form-control"
                               placeholder="Minimum Area (sq ft)">
                    </div>
                </div>

                <!-- Search Button -->
                <div class="col-lg-3 col-sm-6">
                    <div class="search_btn">
                        <button type="submit"
                                class="btn btn-serach-bg btn-block">
                            Search Properties
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
	<!-- END  SEARCH -->

	

	<!-- START PROPERTY -->
	<section class="template_property">
		<div class="container">
			<div class="section-title text-center wow zoomIn">
				<h2>Latest listing</h2>
				<div></div>
			</div>
			<div class="row">
		{% for property in properties %}
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="single_property">

				<!-- Property Image -->
				{% if property.image %}
					<img src="{{ property.image.url }}" class="img-fluid" alt="{{ property.title }}">
				{% else %}
					<img src="{% static 'assets/img/property/1.jpg' %}" class="img-fluid" alt="No Image">
				{% endif %}
                
				<!-- Property Description -->
				<div class="single_property_description text-center">
					<span>
						<i class="fa fa-object-group"></i>
						{{ property.area }} sq ft 
					</span>
					<span>
						<i class="fa fa-bed"></i>
						{{ property.bedrooms }} Bedrooms
					</span>
					<span>
						<i class="fa fa-star-o"></i>
						{{ property.bathrooms }} Baths
					</span>
				</div>

				<!-- Property Content -->
				<div class="single_property_content">
					<h4>
						<a href="{% url 'property_details' property.id %}">{{ property.title }} </a>
					</h4>
					<p>{{ property.description|truncatewords:3 }}</p>
				</div>

				<!-- Property Price and Location -->
				<div class="single_property_price">
					{{ property.location }}
					<span>Ksh {{ property.price }}</span>

					<!-- Five Stars -->
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>

					{% if user.is_staff %}
						<a href="{% url 'edit_property' property.id %}"
						class="btn btn-success">
							Edit
						</a>

						<a href="{% url 'delete_property' property.id %}"
						class="btn btn-danger"
						onclick="return confirm('Are you sure you want to delete {{ property.title }}?');">
							Delete
						</a>
					{% endif %}

				</div>

			</div>
		</div>
		{% empty %}
		<div class="col-12 text-center">
			<p>No properties available.</p>
		</div>
		{% endfor %}
	</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END  PROPERTY -->

	<!-- START PORTFOLIO -->
	<section id="gallery" class="works_area">
		<div class="container">
			<div class="section-title text-center wow zoomIn">
				<h2>Gallery</h2>
				<div></div>
			</div>
			<div class="col-lg-12 text-center">
				<ul class="portfolio-filters">
					<li class="filter active" data-filter="all">all</li>
					<li class="filter" data-filter="bedroom">Bedroom</li>
					<li class="filter" data-filter="bathroom">Bathroom</li>
					<li class="filter" data-filter="kitchen">kitchen</li>
					<li class="filter" data-filter="garage">Garage</li>
					<li class="filter" data-filter="basement">Basement</li>
				</ul>
			</div><!-- END COL -->
			<div class="row portfolio-items-list">
				<div class="col-lg-4 col-sm-4 col-xs-12 mix bathroom kitchen garage">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="{% static 'assets/img/portfolio/1.jpg' %}" class="img-fluid" alt="" />
							<figcaption>
								<a class="prettyPhoto image_zoom" href="assets/img/portfolio/1.jpg"></a>
								<p><a href="#" data-toggle="modal" data-target="#projectModal">Your Dream House</a></p>
							</figcaption>
						</figure>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 mix bedroom garage">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="{% static 'assets/img/portfolio/2.jpg' %}" class="img-fluid" alt="" />
							<figcaption>
								<a class="prettyPhoto image_zoom" href="{% static 'assets/img/portfolio/2.jpg' %}"></a>
								<p><a href="#" data-toggle="modal" data-target="#projectModal">Your Dream House</a></p>
							</figcaption>
						</figure>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 mix bathroom">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="{% static 'assets/img/portfolio/3.jpg' %}" class="img-fluid" alt="" />
							<figcaption>
								<a class="prettyPhoto image_zoom" href="{% static 'assets/img/portfolio/3.jpg' %}"></a>
								<p><a href="#" data-toggle="modal" data-target="#projectModal">Your Dream House</a></p>
							</figcaption>
						</figure>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 mix garage kitchen">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="{% static 'assets/img/portfolio/4.jpg' %}" class="img-fluid" alt="" />
							<figcaption>
								<a class="prettyPhoto image_zoom" href="{% static 'assets/img/portfolio/4.jpg' %}"></a>
								<p><a href="#" data-toggle="modal" data-target="#projectModal">Your Dream House</a></p>
							</figcaption>
						</figure>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 mix bedroom">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="{% static 'assets/img/portfolio/5.jpg' %}" class="img-fluid" alt="" />
							<figcaption>
								<a class="prettyPhoto image_zoom" href="{% static 'assets/img/portfolio/5.jpg' %}"></a>
								<p><a href="#" data-toggle="modal" data-target="#projectModal">Your Dream House</a></p>
							</figcaption>
						</figure>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 mix bathroom kitchen">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="{% static 'assets/img/portfolio/6.jpg' %}" class="img-fluid" alt="" />
							<figcaption>
								<a class="prettyPhoto image_zoom" href="{% static 'assets/img/portfolio/6.jpg' %}"></a>
								<p><a href="#" data-toggle="modal" data-target="#projectModal">Your Dream House</a></p>
							</figcaption>
						</figure>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 mix basement garage">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="{% static 'assets/img/portfolio/7.jpg' %}" class="img-fluid" alt="" />
							<figcaption>
								<a class="prettyPhoto image_zoom" href="{% static 'assets/img/portfolio/7.jpg' %}"></a>
								<p><a href="#" data-toggle="modal" data-target="#projectModal">Your Dream House</a></p>
							</figcaption>
						</figure>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 mix bedroom basement">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="{% static 'assets/img/portfolio/8.jpg' %}" class="img-fluid" alt="" />
							<figcaption>
								<a class="prettyPhoto image_zoom" href="{% static 'assets/img/portfolio/8.jpg' %}"></a>
								<p><a href="#" data-toggle="modal" data-target="#projectModal">Your Dream House</a></p>
							</figcaption>
						</figure>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 mix bedroom basement">
					<div class="grid">
						<figure class="effect-apollo">
							<img src="{% static 'assets/img/portfolio/9.jpg' %}" class="img-fluid" alt="" />
							<figcaption>
								<a class="prettyPhoto image_zoom" href="{% static 'assets/img/portfolio/9.jpg' %}"></a>
								<p><a href="#" data-toggle="modal" data-target="#projectModal">Your Dream House</a></p>
							</figcaption>
						</figure>
					</div>
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END PORTFOLIO -->

	<!-- START TEAM US -->
	<section id="team" class="our_team section-padding">
		<div class="container">
			<div class="section-title text-center wow zoomIn">
				<h2>Professional team</h2>
				<div></div>
			</div>
			<div class="row text-center">
				<div class="col-lg-3 col-sm-3 col-xs-12">
					<div class="single_team">
						<img src="{% static 'assets/img/team/team-1.png' %}" class="img-fluid" alt="" />
						<h3>Juthi Ahmed</h3>
						<p>Co Founder</p>
						<ul class="list-inline">
							<li><a href="#" class="st-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="st-twitter"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="st-instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div><!--- END SINGLE TEAM -->
				</div><!--- END COL -->
				<div class="col-lg-3 col-sm-3 col-xs-12">
					<div class="single_team">
						<img src="{% static 'assets/img/team/team-2.png' %}" class="img-fluid" alt="" />
						<h3>Masum Billah</h3>
						<p>Co Founder</p>
						<ul class="list-inline">
							<li><a href="#" class="st-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="st-twitter"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="st-instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div><!--- END SINGLE TEAM -->
				</div><!--- END COL -->
				<div class="col-lg-3 col-sm-3 col-xs-12">
					<div class="single_team">
						<img src="{% static 'assets/img/team/team-3.png' %}" class="img-fluid" alt="" />
						<h3>Syed Ekram</h3>
						<p>Co Founder</p>
						<ul class="list-inline">
							<li><a href="#" class="st-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="st-twitter"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="st-instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div><!--- END SINGLE TEAM -->
				</div><!--- END COL -->
				<div class="col-lg-3 col-sm-3 col-xs-12">
					<div class="single_team">
						<img src="{% static 'assets/img/team/team-4.png' %}" class="img-fluid" alt="" />
						<h3>Hanjala Haque</h3>
						<p>Co Founder</p>
						<ul class="list-inline">
							<li><a href="#" class="st-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="st-twitter"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="st-instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div><!--- END SINGLE TEAM -->
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END TEAM US -->

	<!-- START TESTIMONIAL -->
	<section data-stellar-background-ratio="0.3" class="our_testimonial section-padding"
		style="background-image: url(assets/img/bg/testimonial-bg.jpg);  background-size:cover;background-position:center;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-sm-12 col-xs-12 text-center">
					<div class="testimonial1-carousel">
						<div class="single-testimonial">
							<img src="{% static 'assets/img/testimonial/2.png' %}" alt="">
							<h4>John Mwangi</h4>
							<span>Home Buyer</span>
							<p>
								Finding the perfect home was easy with this platform. The property details
								were accurate, and the agent guided us through every step of the process.
							</p>
						</div>

						<div class="single-testimonial">
							<img src="{% static 'assets/img/testimonial/1.png' %}" alt="">
							<h4>Mary Wanjiku</h4>
							<span>Property Investor</span>
							<p>
								I was able to identify promising investment opportunities quickly. The
								listings are well organized and provide all the information needed to make
								informed decisions.
							</p>
						</div>

						<div class="single-testimonial">
							<img src="{% static 'assets/img/testimonial/3.png' %}" alt="">
							<h4>David Kimani</h4>
							<span>Tenant</span>
							<p>
								The search process was straightforward and I found a rental property that
								matched my budget and location preferences within a few days.
							</p>
						</div>
					</div>
				</div><!-- END COL -->
			</div><!--END  ROW  -->
		</div><!-- END CONTAINER  -->
	</section>
	<!-- END TESTIMONIAL -->

	<!-- START NEWSLETTER -->
	<section class="newsletter section-padding">
		<div class="container">
			
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-sm-12 col-xs-12 text-center">
					<div class="signup_form">
						<h3 class="section-title-white">Subscribe to stay update</h3>
						<!-- Replace the form action in the line below with your MailChimp embed action! -->
						<form novalidate="" class="validate" name="mc-embedded-subscribe-form" method="post" action="#">
							<input type="email" placeholder="Enter Email" id="mce-email" class="form-control"
								name="EMAIL">
							<span><button class="btn btn-detault btn-light-bg" name="subscribe"
									type="submit">Subscribe</button></span>
							<div id="mce-responses">
								<div style="display:none" id="mce-error-response" class="response"></div>
								<div style="display:none" id="mce-success-response" class="response"></div>
							</div>
						</form>
					</div>
				</div><!-- END COL  -->
			</div><!-- END ROW  -->
		</div><!-- END CONTAINER -->
	</section>
	<!-- END NEWSLETTER -->

	<!-- START BLOG -->
	<section id="blog" class="fresh-news section-padding">
		<div class="container">
			<div class="section-title text-center">
				<h2>Latest News</h2>
				<div></div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-4 col-xs-12">
					<div class="single_blog">
						<div class="blog_img">
							<a href="blog.html"><img src="{% static 'assets/img/blog/blog-1.jpg' %}" class="img-fluid"
									alt="image" /></a>
							<div class="post-date">
								<span class="date">15</span>
								<span class="month">Sep</span>
							</div>
						</div>
						<div class="blog_content">
							<h3><a href="blog.html">How to Choose the Right Home</a></h3>
							<p>Consider location, security, accessibility, schools, and future development plans before purchasing a property..</p>
						</div>
					</div>
				</div><!-- END COL-->
				<div class="col-lg-4 col-sm-4 col-xs-12">
					<div class="single_blog">
						<div class="blog_img">
							<a href="blog.html"><img src="{% static 'assets/img/blog/blog-2.jpg' %}" class="img-fluid"
									alt="image" /></a>
							<div class="post-date">
								<span class="date">16</span>
								<span class="month">Sep</span>
							</div>
						</div>
						<div class="blog_content">
							<h3><a href="blog.html">Benefits of Investing in Property</a></h3>
							<p>Real estate remains one of the most reliable long-term investments, offering both rental income and capital appreciation.</p>
						</div>
					</div>
				</div><!-- END COL-->
				<div class="col-lg-4 col-sm-4 col-xs-12">
					<div class="single_blog">
						<div class="blog_img">
							<a href="blog.html"><img src="{% static 'assets/img/blog/blog-3.jpg' %}" class="img-fluid"
									alt="image" /></a>
							<div class="post-date">
								<span class="date">17</span>
								<span class="month">Sep</span>
							</div>
						</div>
						<div class="blog_content">
							<h3><a href="blog.html">Property Viewing Checklist</a></h3>
							<p>Inspect water supply, electricity, drainage, security features, and structural condition before making a decision..</p>
						</div>
					</div>
				</div><!-- END COL-->
			</div><!-- END ROW -->
		</div><!-- END CONTAINER -->
	</section>
	<!-- END BLOG -->

	{% endblock %}