{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- START SECTION TOP -->
	<section class="section-top">
		<div class="container">
			<div class="col-lg-10 offset-lg-1 col-xs-12 text-center">
				<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s"
					data-wow-offset="0">
					<h1>Property</h1>
				</div><!-- //.HERO-TEXT -->
			</div><!--- END COL -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END SECTION TOP -->

	<!-- START PROPERTY -->
	<section class="template_property">
		<div class="container">
			<div class="section-title text-center wow zoomIn">
				<h2>Latest listing</h2>
				<div></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/1.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">Lodgeville Road</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/2.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">Rinehart Road</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/3.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">Brighton Circle Road</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/4.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">Lynn Ogden Lane</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/5.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">2045 B Street</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/6.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">White Maria Street</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END  PROPERTY -->

	<!-- START PROPERTY -->
	<section class="template_property section-padding">
		<div class="container">
			<div class="section-title  text-center wow zoomIn">
				<h2>Latest for Rent</h2>
				<div></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/1.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">Lodgeville Road</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/2.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">Rinehart Road</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/3.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">Brighton Circle Road</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/4.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">Lynn Ogden Lane</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/5.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">2045 B Street</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="single_property">
						<img src="{% static 'assets/img/property/6.jpg' %}" class="img-fluid" alt="" />
						<div class="single_property_description text-center">
							<span><i class="fa fa-object-group"></i> 900 sq ft</span>
							<span><i class="fa fa-bed"></i> 4 Badrooms</span>
							<span><i class="fa fa-star-o"></i> 2 Baths</span>
						</div>
						<div class="single_property_content">
							<h4><a href="#">White Maria Street</a></h4>
							<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical. </p>

						</div>
						<div class="single_property_price">
							High Meadow Lane Mount Pleasant <span>$ 170,000</span>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END  PROPERTY -->

{% endblock %}	