{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- START SECTION TOP -->
	<section class="section-top">
		<div class="container">
			<div class="col-lg-10 offset-lg-1 col-xs-12 text-center">
				<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s"
					data-wow-offset="0">
					<h1>Property Description</h1>
				</div><!-- //.HERO-TEXT -->
			</div><!--- END COL -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END SECTION TOP -->

	<!-- START SINGLE PROPERTY DETAILS -->
	<section class="property_single_details section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-9 col-xs-12">
					<div class="property_single_details_slide">
						{% if property.image %}
							<img src="{{ property.image.url }}" class="img-fluid" alt="{{ property.title }}">
						{% else %}
							<img src="{% static 'assets/img/2.jpg' %}" class="img-fluid" alt="{{ property.title }}">
						{% endif %}
					</div>
					<div class="property_single_details_price">
						<h1>{{ property.title }}</h1>
						<h4>Ksh {{ property.price }}</h4>
						<p>{{ property.location }}</p>
						<ul>
							<li><i class="fa fa-check"></i> {{ property.bedrooms }} bed rooms</li>
							<li><i class="fa fa-check"></i> {{ property.bathrooms }} bathrooms</li>
							<li><i class="fa fa-check"></i> {{ property.area }} sq ft</li>
						</ul>
					</div>
					<div class="property_single_details_description">
						<h4>Property description</h4>
						<p>{{ property.description }}</p>
					</div>
					<div class="property_info">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="single_property_list">
									<h4>Amenities</h4>
									<ul class="single_property_list_mr">
										<li><i class="fa fa-check"></i> Video</li>
										<li><i class="fa fa-check"></i> Hairdryer</li>
										<li><i class="fa fa-check"></i> Cot</li>
										<li><i class="fa fa-check"></i> Dishwasher</li>
										<li><i class="fa fa-check"></i> Parquet</li>
										<li><i class="fa fa-check"></i> Iron</li>
									</ul>
									<ul class="single_property_list_mr">
										<li><i class="fa fa-check"></i> Air conditioning</li>
										<li><i class="fa fa-check"></i> Cable TV</li>
										<li><i class="fa fa-check"></i> Grill</li>
										<li><i class="fa fa-check"></i> Juicer</li>
										<li><i class="fa fa-check"></i> Use of pool</li>
										<li><i class="fa fa-check"></i> Toaster</li>
									</ul>
									<ul>
										<li><i class="fa fa-check"></i> Video</li>
										<li><i class="fa fa-check"></i> Hairdryer</li>
										<li><i class="fa fa-check"></i> Cot</li>
										<li><i class="fa fa-check"></i> Dishwasher</li>
										<li><i class="fa fa-check"></i> Parquet</li>
										<li><i class="fa fa-check"></i> Iron</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="property_map">
						<h4>on map</h4>
						<div class="map-pro">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.957183635167!2d-74.00402768559431!3d40.71895904512855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2598a1316e7a7%3A0x47bb20eb6074b3f0!2sNew%20Work%20City%20-%20(CLOSED)!5e0!3m2!1sbn!2sbd!4v1600305497356!5m2!1sbn!2sbd"
								style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
						</div>
					</div>
					<div class="single_similar_property">
						<div class="row">
							{% for prop in similar_properties %}
							<div class="col-md-4 col-sm-12 col-xs-12">
								<div class="single_property">

									<!-- Property Image -->
									{% if prop.image %}
										<img src="{{ prop.image.url }}" class="img-fluid" alt="{{ prop.title }}">
									{% else %}
										<img src="{% static 'assets/img/property/1.jpg' %}" class="img-fluid" alt="No Image">
									{% endif %}
									
									<!-- Property Description -->
									<div class="single_property_description text-center">
										<span>
											<i class="fa fa-object-group"></i>
											{{ prop.area }} sq ft 
										</span>
										<span>
											<i class="fa fa-bed"></i>
											{{ prop.bedrooms }} Bedrooms
										</span>
										<span>
											<i class="fa fa-star-o"></i>
											{{ prop.bathrooms }} Baths
										</span>
									</div>

									<!-- Property Content -->
									<div class="single_property_content">
										<h4>
											<a href="{% url 'property_details' prop.id %}">{{ prop.title }} </a>
										</h4>
										<p>{{ prop.description|truncatewords:3 }}</p>
									</div>

									<!-- Property Price and Location -->
									<div class="single_property_price">
										{{ prop.location }}
										<span>Ksh {{ prop.price }}</span>

										<!-- Five Stars -->
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>

										{% if user.is_staff %}
											<a href="{% url 'edit_property' prop.id %}"
											class="btn btn-success">
												Edit
											</a>

											<a href="{% url 'delete_property' prop.id %}"
											class="btn btn-danger"
											onclick="return confirm('Are you sure you want to delete {{ prop.title }}?');">
												Delete
											</a>
										{% endif %}

									</div>

								</div>
							</div>
							{% empty %}
							<div class="col-12 text-center">
								<p>No properties available.</p>
							</div>
							{% endfor %}<!--- END COL -->
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="single_property_form">
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-success">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
						<h4>Enquire here</h4>
						<form class="form"  method="post">
							{% csrf_token %}
							<div class="row">
								<div class="form-group col-md-12">
									<input type="text" name="name" class="form-control" id="first-name"
										placeholder="Name" required="required">
								</div>
								<div class="form-group col-md-12">
									<input type="email" name="email" class="form-control" id="email" placeholder="Email"
										required="required">
								</div>
								<div class="form-group col-md-12">
									<input type="text" name="phone" class="form-control" id="phone" placeholder="Phone"
										required="required">
								</div>
								<div class="form-group col-md-12 mbnone">
									<textarea rows="6" name="message" class="form-control" id="description"
										placeholder="Your Message" required="required"></textarea>
								</div>
								<div class="col-md-12">
									<div class="actions">
										<input type="submit" value="Send message" name="submit" id="submitButton"
											class="btn btn-lg btn-contact-bg" title="Submit Your Message!" />
									</div>
								</div>
							</div>
						</form>
					</div>
					
				</div><!--- END COL -->
			</div>
		</div>
	</section>
	<!-- START SINGLE PROPERTY DETAILS -->

{% endblock %}	